#appear {
  display: none;
  }

  #day {
    display: none;
    }

.clickable:hover {
  color: red;
  cursor: pointer;

}

.clickable {
  text-decoration: underline;

}

.green-background {
  background-color: lightgreen;
}

.red-background {
  background-color: red;
}

.yellow-background {
  background-color: lightyellow;
}

.white-background {
  background-color: white;
}
.dark-background {
  background-color: black;
  color: white;
}

#default {
  border: 2px solid blue;
  color: lightblue;
}

#dark {
  border: 2px solid blue;
  color: lightblue;
}


p:hover {
  background-color: lightpink;

}

.highlight {
  background-color: lightpink;
  border: 10px solid blue;
}
