#appear {
  display: none;
  }

.clickable:hover {
  color: red;
  cursor: pointer;

}

.clickable {
  text-decoration: underline;

}

.green-background {
  background-color: lightgreen;
}

.red-background {
  background-color: red;
}

.yellow-background {
  background-color: lightyellow;
}

.white-background {
  background-color: white;
}
